<!DOCTYPE html>
<html>
<head>
  <title>Brandnewblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  	<% if current_user != nil %>
	Logged In: <%= current_user.email %>
	<%= button_to "Log out", session_path, method: :delete %>
	<% else %>
	<%= button_to "Sign up", new_user_path, method: :get %>
	<% end %>

</head>
<body>
<%= session["user_id"].inspect %>
<%= yield %>

</body>
</html>
